.about  {
    background: $color-celtic;
    color: $color-white;

}
.about_wapper  {


}
.about_title {
    @extend %title-100;

    margin: auto;
    max-width: 107.4rem;
    text-align: center;

}
