$color-white: #fff;
$color-black: #000;
$color-pearl: #eae0d5;
$color-khaki: #1b2021;
$color-celtic: #132a13;

$font-george-x: 'George X';
$font-suisse-bp: 'Suisse BP';
$font-poppins: 'Poppins';

$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

$z-indexes: (
  'preloader',
  'navigation',
  'content'
);