extends ../template.pug 

block variables 
    - var template = 'details'

block content 
    .details 
        .details_wrapper 
            figure.details_media 
                img.details_media_img(alt=product.data.image.alt src=product.data.image.url)  
        
            .details_information 
                p.details_information_collection=product.data.collection.data.title