extends ../template.pug 

block variables 
    - var template = 'home'

block content 
    .home 
        .home_wrapper 
            .home_gallery 
                each media in home.data.gallery 
                    figure.home_gallery_media 
                        img.home_gallery_media_img(alt=media.image.alt src=media.image.url)
            a.home_link(href="/collections")=home.data.button