.navigation{
    @extend %cover;

    position: fixed;
    pointer-events: none;
    z-index: z('navigation');

} 
.navigation_link {
    @extend %title-30;

    //display:flex;
    height: 2rem;
    left: 4rem;
    position: absolute;
    top: 4rem;
    width: 14.8rem;
    pointer-events: auto;

    @include media('<phone') {
        left: 5rem;
        top: 5rem;
        width: 27.9rem;
        height: 4.3rem;
    }
}
.navigation_link_icon {
    display: block;
}
.navigation_list {

}
.navigation_list_item {
    position: absolute;
    right: 4rem;
    top: 4rem;  
    pointer-events: auto;
}
.navigation_list_link {
    @extend %title-20;

    display: block;
}       
